[2022-09-30 14:44] Mssaytek opened #7 "BUG"
**Describe the bug**
an error showed me to the extended stake pool field.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'New Stake'
2. Click on 'Extended staking'
3. Check the Staking amount (ETNY)
4. See error:"underlying network changed (event="changed", network={"name":"maticmum","chainId":80001,"ensAddress":null,"_defaultProvider":null}, detectedNetwork={"chainId":8995,"name":"u

[2022-09-30 14:47] Instabil87 opened #8 "BUG"
Unable to connect the wallet for the staking on ios , safari also on pc chrome !
The option is in grey color and unavailable.please find attached the 2 photos.
![766AA969-C85E-4C4F-AA71-468333B10F11](https://user-images.githubusercontent.com/114756195/193295839-3f925a24-35c4-47b1-a8dd-77c9907e2dd7.png)
![Uploading image.jpg…]()

[2022-09-30 14:52] dim3nsi0n32 commented on #8
Hi, you would need to have MetaMask addon installed in your browser.

[2022-09-30 14:53] Mssaytek opened #9 "BUG Visual Errors"
**Describe the bug**
Multiple time after refresh the page from the pool ""TOTAL STAKED - MIDLE SQUARE" shows the attached visual error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main page' after wallet connection
2. Click on 'refresh-middle square'
3. Scroll down to
4. See error:
5. underlying network changed (event="changed", network={"name":"maticmum","chainId":80001,"ensAddres

[2022-09-30 14:57] Instabil87 commented on #8
I have it on mobile phone

[2022-09-30 14:57] Instabil87 commented on #8
I have it on mobile phone , still can t connect

[2022-09-30 15:05] Instabil87 commented on #8
Ok i could do it now but it s not very usefull the guide how to do it from phone . You must go on metamask app there go in browser , and in browser you put in the adress https://staking.ethernity.cloud/ , only after that you can do it . A lot of people will have this problem if you don’t explain how to actually do it

[2022-09-30 15:06] Mssaytek opened #10 "BUG Error -"
**Describe the bug**
When I make a request for the extended staking an erros shosw to "Node wallet adress"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'New Stake'
2. Click on 'Staking request type'
3. Scroll down to 'Extended staking'
4. Introduce the details
5. See the error

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Des

[2022-09-30 15:14] Mssaytek opened #11 "BUG?"
**Describe the bug**
After I manage to introduce all details for staking an erros appears with the message: xEthernity The node doesen't have any base stake setup!

**To Reproduce**
1.Introduce details for staking
2. Review Stake
3. Agree
4. Error appear

**Screenshots**
![Screenshot 2022-09-30 at 18 05 41](https://user-images.githubusercontent.com/114657660/193301636-ea805ff8-7614-435b-99ce-5f2b0

[2022-09-30 15:17] dim3nsi0n32 commented on #11
Please check the documentation on how to approve a base stake request https://docs.ethernity.cloud/staking-dapp/base-stake/approve-base-stake
After you create a base stake as a staker, you have connect the wallet from your node to approve it. Only then your node can apply for extended stake requests.

[2022-09-30 15:20] Instabil87 opened #12 "BUG"
It a not connecting the wallet , from mobile app metamask. See photo
![Uploading 8DCB6799-3A2B-464A-BAAA-A07095AD6CDE.png…]()

[2022-09-30 15:20] dim3nsi0n32 commented on #10
Hi, node address shouldn't have any tETNY tokens in it for security reasons. You are trying to delegate your extended stake to a node which has tokens in it already.
Please read the staking rules at https://docs.ethernity.cloud/staking-dapp/staking-rules

[2022-09-30 15:21] dim3nsi0n32 commented on #8
The staking dApp isn't meant to be working on a phone. It's intended to be used on a computer desktop. Staking dApp hasn't been tested on phones and is not supported on phones.

[2022-09-30 15:22] Mssaytek commented on #10
Ok, thanks. How can I totally remove tETNY token from metamask node wallet? I tried hide but shows same problem.

[2022-09-30 15:24] Instabil87 commented on #8
I understand but were it is mentioned that ?? How we should now ?

[2022-09-30 15:27] Instabil87 commented on #8
It says open beta staking dapp !. Not only desktop

[2022-09-30 17:48] Dontyouseeme opened #13 "BUG"
![eroare selectare procent](https://user-images.githubusercontent.com/61425685/193328547-5569fb3a-122e-4425-ac47-8ce3d35a37dd.jpg)

Hello there,
I`ve been trying to create a base stake but, I cannot select the proccent! I suposed I should be able to choose it.. on another account with the same settings it`s allow me to do so..

[2022-09-30 20:57] dim3nsi0n32 commented on #13
A base stake reward will always go do the operator. The operator gets 100% of the reward. An extended stake on the other hand can be split between staker and node operator and the staker decides the split. Just change the Staking request type from Base staking to Extended Staking and you'll see what I mean. This is not a bug.

[2022-09-30 20:58] dim3nsi0n32 commented on #12
I'm sorry but the picture is not visible.

[2022-09-30 21:00] dim3nsi0n32 commented on #10
you need to send your tETNY from this wallet to a different wallet address so this wallet will only have 0 tENTY. You could send it to the staker wallet address.

[2022-09-30 21:01] dim3nsi0n32 commented on #8
We will add a message to clearly indicate this on Monday.

[2022-09-30 21:14] Mssaytek commented on #10
I have try that multiple times. Is failing to send them. I am stuck with tETNY in node wallet :(

[2022-09-30 21:34] Instabil87 commented on #12
![Uploading 65AF7DF4-42E9-4C7D-8A97-B55A10964C1C.png…]()

[2022-09-30 22:26] Instabil87 commented on #12
![2B8B7657-366F-4BE3-963C-DF36330991FC](https://user-images.githubusercontent.com/114756195/193364628-fa03fb7a-2f81-4b12-9a26-0d6ffb78d813.png)

[2022-09-30 22:27] Instabil87 commented on #12
Here is the picture

[2022-10-01 01:25] Cristicyb opened #14 "BUG"
**Describe the bug**
Extended Staking pot Details button shown two times.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Metamask mobile
2. Create an Extended Staking request as Requester
3. Approve Extended Staking request as Node operator
4. Return to Requester screen
5. Click on Approved button
7. Check that Extended Staking pot Details button is shown twice

**Expected behavior**

[2022-10-01 11:34] rockydawe opened #15 "BUG"
**Ethernity Cloud Staking login with Metamask**

'' Add suggested Token '' bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to (https://staking.ethernity.cloud/)
2. Click on 'Connect Wallet'
3. It appears Automatticaly (Every time I try to connect) ''Add suggested Token tETNY ''( The token was already added before, and used in transactions. )
4. Sometimes Appears the token in adding l

[2022-10-01 13:09] Dontyouseeme opened #16 "BUG"
![dar ma arata Staker](https://user-images.githubusercontent.com/61425685/193410944-2b37b8e6-0f28-4325-84d8-484a06f8759f.png)
![logat ca si Nod Operator](https://user-images.githubusercontent.com/61425685/193410947-779c59bd-0fdb-407a-8693-98ff1befcdbe.png)
Hello again,
Not sure why, i`m logged in with one of my node account but in staking dAap it shows me as a Staker, not as a Node Operator.
It sh

[2022-10-01 13:14] #16 closed, assigned to varvarasd

[2022-10-01 13:14] Dontyouseeme commented on #16
Please, close it. I`ve seen that a similar bug report has been open already.

[2022-10-01 14:01] Instabil87 opened #17 "BUG"
Indiferent de ce adresa contectez , tot staker apare , am pus 3 adrese diferite de la 3 noduri degeaba . Acu arata nod operator dupa se schimba in staker , fara sa adaug Etny

[2022-10-01 16:32] dimanyo opened #18 "BUG"
**Describe the bug**
when entering with a node operator account, he enters as a staker. More details in the video.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'connect wallet'
2. Click on
3. Confirm login with metamask
4. See error

**Expected behavior**
I entered as a node operator, but entered as a staker

**Screenshots**
There will be a video cut from the instructions that I did

[2022-10-01 16:38] dimanyo opened #19 "BUG"
**Describe the bug**
eternal loading at the entrance to the office.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'connect wallet'
2. Click on
3. See error

**Screenshots**
Will be in the video

**Desktop (please complete the following information):**
 - OS: windows 11
 - Browser chrome

**Additional context**
Eternal loading is solved by reloading the page

https://user-images.githu

[2022-10-01 19:02] nick1543 opened #20 "BUG"
**Describe the bug**
Into the "Node Operator" interface in the Staking overview I choose Approved pots list. Extended staking pots have doubled buttons "Details". See the screenshot attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as Node Operator.
2. Add Base Staking Pot (I added 5928 tETNY).
3. Add Extended Staking Pots.
4. After Staker's confirmation Pending pots become Ap

[2022-10-01 21:18] nick1543 opened #21 "BUG with marketplace pots list"
**Describe the bug**
The dropdown selector of number of offers per list doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Marketplace'
2. Click on '8 / page'
3. Choose  '20 / page'
4. The page is refreshed but I still see only 8 offers per page.
5. The same problem is with any other selector.

**Expected behavior**
After choosing 'N / page' I expect to see the chosen limit

[2022-10-01 21:24] nick1543 commented on #21
https://user-images.githubusercontent.com/54639140/193428862-9bf1fe61-a6fd-492b-a769-5ff51bc4a46c.mp4

[2022-10-01 21:26] nick1543 commented on #21
Unfortunately I don't know why my video can't be seen here.. I hope my description is clear. =)

[2022-10-01 21:52] jackalx440 opened #22 "Create new staking pot"
![Screenshot 2022-10-01 154628](https://user-images.githubusercontent.com/114835643/193429519-78823d62-6717-491a-925b-5b8114a63e4f.png)

Hi , when Im creating a new staking pot  I will automatically change the staking amount when Im selecting the next options 👍

Staking request type : extended staking
Staking amount  was 8024 but will change automatically to 73024 as per screenshot
Staking period

[2022-10-01 22:23] RodmannNftArt opened #23 "BUG"
**Describe the bug**
Cannot add a POT on marketplace even if the value is lower than the remaining amount allowed on a node.
Actual staked on the node 72924 ETNY

![IMG_5354](https://user-images.githubusercontent.com/98767703/193430109-eb4da226-c073-4211-8b90-96d97ad097ee.jpg)
and tried to apply for a pot (POT 005) with 953 ETNY

![IMG_5353](https://user-images.githubusercontent.com/98767703/19343

[2022-10-02 07:51] nick1543 opened #24 "BUG - do not see dark text in the dark mode"
**Describe the bug**
Into the Staker's interface while cancelling an approved contract the main text is white, but the text about the bad quality of the node is dark, so it can't be readable until you highlight it by a mouse.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Staking overview' --> 'Approved'
2. Choose an Extended staking pot and click on 'Details'
3. Choose 'Approved' an

[2022-10-02 07:57] Clubvp opened #25 "BUG : how to remove etni tokens from the node? if you accidentally sent them there, you can't connect the node with tokens, this is a bug in the test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-02 07:58] Clubvp commented on #25
how to remove etni tokens from the node? if you accidentally sent them there, you can't connect the node with tokens, this is a bug in the test

[2022-10-02 08:07] pupisor opened #26 "BUG"
![Screenshot from 2022-10-02 10-04-51](https://user-images.githubusercontent.com/25704511/193444417-6b28f4bc-f2e2-49f8-b544-0540de3cf262.png)
Trehe are 2 DETAILS button on every staking pot

[2022-10-02 08:14] xupypr-ypoJIor opened #27 "BUG"
**Describe the bug**
Не подключается как оператор.

**To Reproduce**
1. На сайте https://staking.ethernity.cloud/staking нажимаем Connect Wallet
2. Подключается как стейкер
3. Выполняем Log out
4. Меняем сеть с тестовой Mumbai на любую другую
5. Вновь пытаемся подключиться
6. Если на баоансе есть монеты tETNY все равно будет подключаться как СТЕЙКЕР.

**Expected behavior**
Я решил, если перенести

[2022-10-02 08:15] pupisor opened #28 "BUG"
I cannot apply for new offer from marketplace lower then 3024 etny , even if i am ollready on extended staking with more than 10k etny....
![Screenshot from 2022-10-02 10-14-26](https://user-images.githubusercontent.com/25704511/193444728-9751f317-725d-4374-b7ed-491c0867d09a.png)

[2022-10-02 08:25] pupisor opened #29 "BUG"
![Screenshot from 2022-10-02 10-24-31](https://user-images.githubusercontent.com/25704511/193445078-3185c5d8-21a0-4028-9137-e6dfe1f914c2.png)
Cannot apply for lower than 3024 Etny ... so small amouts from marketplace are locked

[2022-10-02 08:32] pupisor opened #30 "BUG"
After i signed a transaction for FREE REMAINING TOKEN from marketplace they are dissapear... 2024 Etny not showing in my account!
![Screenshot from 2022-10-02 10-30-31](https://user-images.githubusercontent.com/25704511/193445344-db2af194-2a45-412a-860a-efabf2bfc4b0.png)

[2022-10-02 08:41] pupisor commented on #30
Now i have 17.976 in pools from a total of 20.000 ETNY .... missing 2024 from ballance
![Screenshot from 2022-04-28 19-27-00](https://user-images.githubusercontent.com/25704511/193445709-72ba752a-9a2b-4399-8b4a-1d6cf4164f44.png)
![Screenshot from 2022-10-02 10-40-08](https://user-images.githubusercontent.com/25704511/193445710-cbd812f1-f8a2-446e-b645-7e42357b36f0.png)
![Screenshot from 2022-10-02

[2022-10-02 08:43] pupisor commented on #30
![Screenshot from 2022-10-02 10-40-08](https://user-images.githubusercontent.com/25704511/193445744-55b4e3f7-43ff-4c18-8926-8556560c9136.png)
![Screenshot from 2022-10-02 10-40-13](https://user-images.githubusercontent.com/25704511/193445746-174e0a6e-ee52-403d-a3d8-29abb465b5d5.png)

Now i have 17.976 in pools from a total of 20.000 ! Missing 2024 from ballance

[2022-10-02 08:50] pupisor commented on #30
Tried again with 10k ETNY ... after FREE REMAINING TOKENS they are not comming back to Available Tokens !

[2022-10-02 09:28] pupisor opened #31 "BUG"
In marketplace ar trebui sortate ofertele in functie de tokeni , active sau inactive , procent ... etc

[2022-10-02 09:39] pupisor opened #32 "BUG"
Another one...nu se pot vedea tranzactiile in poligonscan...

[2022-10-02 10:30] pupisor opened #33 "Propunere"
![Screenshot from 2022-10-02 12-29-08](https://user-images.githubusercontent.com/25704511/193449546-6fd72b64-63bd-40d6-b6b0-5654ffb43b54.png)
Aici ar fi bine sa mai fie un block cu rewards! Si block-ul cu total tokens nu cred ca isi are rost atata timp cat nu sunt tokeni pe nod!

[2022-10-02 11:13] pupisor commented on #29
de exemplu daca cineva are 1976 etny nu ii va putea delega pe nici un nod, atata timp cat minimul e 3024 pentru acceptare in extended...sper ca m-am facut inteles

[2022-10-02 11:25] pupisor commented on #28
deci cei care au 1976 etny in wallet nu au cum sa ii delege pe alte noduri avand in vedere ca suma minima e de 3024 ! sper ca m-am facut inteles

[2022-10-02 14:54] Yaroslavyy opened #34 "BUG"
"The cross does not work in order to remove the running line. If the running line should not be removed, then it is not clear why the cross."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://staking.ethernity.cloud/staking)
2. Click on 'cross'
3. See error

"The cross should work or remove it from the display"
![image](https://user-images.githubusercontent.com/95451597/19346060

[2022-10-02 15:16] Yaroslavyy opened #35 "BUG"
**You cannot send tokens from wallet to wallet. If it mistakenly sends tokens to the node, it does not allow you to connect as an operator if the tokens are in the account.**

Steps to reproduce the behavior:
1. Go to (https://staking.ethernity.cloud/staking)
2. Click on MetaMask
3. See error

**Expected behavior**
The ability to transfer from wallet to wallet, these are test tokens

**Screenshots

[2022-10-02 15:33] Yaroslavyy opened #36 "BUG"
**When you enter the required amount for staking, after you add the node wallet, it knocks out 10K instead of the entered amount, the maximum is 73024 automatically**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://staking.ethernity.cloud/staking)
2. Click on new stake
3. Click on Staking amount (ETNY)
4. Click on Staking wallet address
4. See error

**Expected behavior**
The

[2022-10-02 17:47] pupisor opened #37 "BUG"
Disponibil 0 ETNY dar totusi te lasa sa APPLY ... cu eroare la final desigur!

![Screenshot from 2022-10-02 19-46-32](https://user-images.githubusercontent.com/25704511/193468446-4193e030-dc9b-473e-8ad2-e23f3960b62d.png)

[2022-10-03 05:19] MSorin5 opened #38 "BUG"
![bug-offer-zero](https://user-images.githubusercontent.com/97909102/193505083-73fc91fc-aa5e-4c54-923e-33a5ee9a344e.jpg)
![bug-apply](https://user-images.githubusercontent.com/97909102/193507759-baf3df63-b9a7-481f-9985-19cfb9505989.jpg)

In sectiunea [MARKETPLACE OVERVIEW](https://staking.ethernity.cloud/marketplace) apar oferte (117.120) in asteptare facuta de staker cu 0 (zero) ETNY si buton APP

[2022-10-03 06:02] MSorin5 opened #39 "BUG"
**Describe the bug**
The DETAILS button appears twice even though it leads to the same page.

**Expected behavior**
The button should only appear once.

**Screenshots**
![bug-details](https://user-images.githubusercontent.com/97909102/193510408-5b251c22-981a-4883-b570-ded29484b0c5.jpg)
![details-button](https://user-images.githubusercontent.com/97909102/193512139-4477341b-b9b1-4eeb-a6ff-f07044e5ba

[2022-10-03 06:10] MSorin5 opened #40 "BUG"
**Describe the bug**
Incorrect button appears logged in as staker

**Expected behavior**
The command button should appear in clear. [LINK](https://staking.ethernity.cloud/staking/121?type=2)

**Screenshots**
![bug-buton](https://user-images.githubusercontent.com/97909102/193511021-45da37d3-f633-4b33-a588-64605f7f71e1.jpg)

**Desktop (please complete the following information):**
 - OS: Windows 10

[2022-10-03 06:40] varvarasd commented on #8
I will close this issue as this is not an actual bug.

[2022-10-03 06:40] #8 closed, assigned to varvarasd

[2022-10-03 06:53] varvarasd commented on #10
Hi. For testing purposes, you can use any clean wallet address with no tokens. The simplest way is to create a new one in Metamask.

I will close this as it's not a bug

[2022-10-03 06:53] #10 closed, assigned to varvarasd

[2022-10-03 06:54] varvarasd commented on #11
I will close this as not a bug.

[2022-10-03 06:54] #11 closed, assigned to varvarasd

[2022-10-03 06:57] varvarasd commented on #12
Hi, please open a new bug and use the bug reporting default format and give all required details for this to be addressed.
I will close it as it's not in the correct format.

[2022-10-03 06:57] #12 closed, assigned to varvarasd

[2022-10-03 06:59] varvarasd commented on #13
I will close it as it's not a bug. Please read the documentation carefully [here](https://docs.ethernity.cloud/staking-dapp/intro).

[2022-10-03 06:59] #13 closed, assigned to varvarasd

[2022-10-03 07:03] varvarasd commented on #14
Thank you. We are working on a fix for this

[2022-10-03 07:11] varvarasd commented on #17
Please create a new bug report with the default and correct format for bug reporting.
I will close this for incorrect reporting format.

[2022-10-03 07:11] #17 closed, assigned to varvarasd

[2022-10-03 07:19] varvarasd commented on #20
Hi,
I will close this bug as duplicate as it's already been reported in bug [#14](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/14)

[2022-10-03 07:19] #20 closed, assigned to varvarasd

[2022-10-03 07:23] varvarasd commented on #21
Thank you. We are adding this to our backlog for a fix.

[2022-10-03 07:38] varvarasd commented on #22
Please create a new bug report with the default and correct format for bug reporting.
I will close this for incorrect reporting format.

[2022-10-03 07:38] #22 closed, assigned to varvarasd

[2022-10-03 08:12] VladOlej opened #41 "BUG"
Добрый день. Я не могу написать на английском. Но проблема в том, что нельзя подключиться мобильным метамаском. У меня есть скрин, но я не вижу чтобы его можно было прикрепить сюда.

[2022-10-03 10:32] MSorin5 opened #42 "BUG"
**Describe the bug**
The staking offer appears with a value lower than min extended stake value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Marketplace'
2. Click on 'PENDING OFFER'
3. Scroll down to 'Apply'
4. See error: "The amount is lower than min extended stake value!"

**Expected behavior**
I expect that pending offers to which you cannot apply will no longer appear under pe

[2022-10-03 10:40] varvarasd commented on #23
Thank you. We are adding this to our backlog for a fix.

[2022-10-03 11:39] varvarasd commented on #23
Hi, thank you. This is the expected behavior.
I will close this as not a bug.

[2022-10-03 11:39] #23 closed, assigned to varvarasd

[2022-10-03 11:41] varvarasd commented on #24
Hi. Thank you. We're adding this to our backlog.

[2022-10-03 11:44] varvarasd commented on #25
Hi, this is not a bug.
You can send the tokens from the node operator wallet to another wallet using metamask or use a new wallet with no ETNY tokens on it.
I will close this as not a bug.

[2022-10-03 11:44] #25 closed, assigned to varvarasd

[2022-10-03 11:49] varvarasd commented on #26
Hi, thank you.
This has already been reported and I'll close it as a duplicate of [#14](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/14)
In the future, if you'd like your report to be considered use the default and correct reporting format which appears by default and fill in the sections accordingly.

[2022-10-03 11:49] #26 closed, assigned to varvarasd

[2022-10-03 12:01] varvarasd commented on #27
Hi,
Please use only english in reporting bugs.
From my understanding, this is not a bug. The node operator is identified as having 0 ETNY currently in testing. When the dApp production build is live, in addition, it will check for at least one contract call to have been done from the given wallet to identify it as a node operator.
I am closing this as not a bug.

[2022-10-03 12:01] #27 closed, assigned to varvarasd

[2022-10-03 12:05] varvarasd commented on #28
Hi,
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.
This is the expected behavior.
I am closing this as not a bug.
Thank you

[2022-10-03 12:05] #28 closed, assigned to varvarasd

[2022-10-03 12:07] varvarasd commented on #29
Hi,
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.
This is the expected behavior. The staker can withdraw the remaining tokens and create other pots.
I am closing this as not a bug.
Thank you

[2022-10-03 12:07] #29 closed, assigned to varvarasd

[2022-10-03 12:11] Irinel78 opened #43 "BUG"
Hello!
This kind of error appear when i tried to apply for an offer in marketplace!
This happened when I tried to fill the amount of etny.

To reproduce:
1. Login node operator
2. Go to marketplace
3. Come one offer
4. Click apply
5. Try to fill the amount of ETNY

Laptop: -macOS
                - Browser CHROME

e-mail address : irytene@gmail.com
<img width="1280" alt="Captură de ecran din 2022-

[2022-10-03 12:22] varvarasd commented on #30
Hi,
Thank you.
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.
I am adding this to our backlog for a fix.

[2022-10-03 12:24] Psyter opened #44 "BUG"
Unclear guide for staking (stated only where to get test tokens, not how to stake it).
Unclear where to find node wallet address (not everyone is tech pro, users want just to choose a validator from the list).
-
For newbies this staking mode is terrible, no one will stake their tokens. Will be massive dump.

[2022-10-03 12:25] varvarasd commented on #31
Hi,
We are not taking any feature suggestions at this time as it's not a priority, however, thank you.
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.
I am closing this as not a bug.
Thank you

[2022-10-03 12:25] #31 closed, assigned to varvarasd

[2022-10-03 12:33] varvarasd commented on #32
Hi,
Please make sure you use the default bug reporting format and fill it in accordingly and give as many details as possible so we can reproduce, verify or inspect the issue.
You can check [here](https://mumbai.polygonscan.com/) the transactions.
I am closing this as not a bug.
Thank you

[2022-10-03 12:33] #32 closed, assigned to varvarasd

[2022-10-03 12:36] varvarasd commented on #33
Hi,
We are not taking any feature suggestions at this time as it's not a priority, however, thank you.
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.
I am closing this as not a bug.
Thank you

[2022-10-03 12:36] #33 closed, assigned to varvarasd

[2022-10-03 12:38] varvarasd commented on #34
Hi,
This is the expected behavior for testing. The banner will be entirely removed when we are releasing the production build.
I am closing this as not a bug.
Thank you.

[2022-10-03 12:38] #34 closed, assigned to varvarasd

[2022-10-03 12:45] varvarasd commented on #35
Hi,
This is the expected behavior. It shouldn't be a blocker for any tester. We are considering adding this ability for testing purposes. You can use any other wallet with 0 tETNY to connect as an operator.
I am closing this as not a bug.
Thank you

[2022-10-03 12:45] #35 closed, assigned to varvarasd

[2022-10-03 12:54] varvarasd commented on #36
Hi,
I was not able to reproduce this.
Can you please tell me again step by step what you are doing?

[2022-10-03 12:59] varvarasd commented on #37
Hi,
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.

In this situation, you are a Node Operator therefore you have 0 ETNY and should be able to apply for staking offers. Do you mean that this particular node that you're logged onto has no more room for staking? it has filled the max of 75000 ETNY delegated on

[2022-10-03 13:24] varvarasd commented on #38
Hi,
We are adding this to our backlog.
Thank you

[2022-10-03 13:45] Yaroslavyy commented on #36
Click on new stake
Click on Staking amount (ETNY) -Enter the amount of 10k
Click on Staking wallet address
Knocks out the amount on the screenshot 73024, instead of the specified 10k

[2022-10-03 14:06] dim3nsi0n32 commented on #44
hi @Psyter this is not a bug.
Please find the documentation with pictures and a step-by-step explanation here: https://docs.ethernity.cloud/staking-dapp/base-stake and https://docs.ethernity.cloud/staking-dapp/extended-stake
How to get your node wallet address: https://docs.ethernity.cloud/staking-dapp/node-address-and-private-key
Also how to obtain tokens here: https://docs.ethernity.cloud/stakin

[2022-10-03 16:36] MSorin5 opened #45 "BUG"
**Describe the bug**
The Staking amount (ETNY) changes after entering the node address on Extended Staking

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Staking](https://staking.ethernity.cloud/staking)'
2. Click on 'NEW STAKE'
3. Scroll down to 'Extended Staking'
4. See error: The Staking amount (ETNY) changes after entering the node address on Extended Staking

**Expected behavio

[2022-10-03 16:43] pupisor commented on #37
no...offer #99 has 0 etny availlable but still can apply

[2022-10-04 07:03] varvarasd commented on #18
Hi,
Please send us your email address
Thank you

[2022-10-04 07:05] varvarasd commented on #30
Please send us your email address

[2022-10-04 07:09] dimanyo commented on #18
dimanyo1@yandex.ru

[2022-10-04 08:23] varvarasd commented on #39
Hi,
This is has already been reported on [#14](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/14)
I will close this as duplicate
Thank you

[2022-10-04 08:23] #39 closed, assigned to varvarasd

[2022-10-04 08:27] varvarasd commented on #40
Hi,
I am not able to reproduce this. Please can you tell us step by step what you are doing?

[2022-10-04 08:29] varvarasd commented on #41
Hi,
In the future, for your bug report to be addressed, please make sure you use the default bug reporting format and fill it in accordingly and use the English language to report.
The Staking dApp is meant for desktops only at this stage.
I am closing this as not a bug.
Thank you

[2022-10-04 08:29] #41 closed, assigned to varvarasd

[2022-10-04 08:39] varvarasd commented on #42
Hi,
The case where the extended staking pot appears as pending exists because one or more applicants need approval from the staker for the staking to start. This usually happens when a staker creates an extended staking pot with the pre-approved toggle off, therefore he's required to approve each node op application manually.
The 'Apply' button should be disabled in these cases. I will add this to

[2022-10-04 08:43] varvarasd commented on #44
I am closing this as not a bug.
Thank you

[2022-10-04 08:43] #44 closed, assigned to varvarasd

[2022-10-04 08:44] MSorin5 commented on #40
Now I see that button B no longer appears, it is Cancel Tab

[2022-10-04 08:48] varvarasd commented on #36
Got it. Thank you.
I will add this to our backlog

[2022-10-04 08:50] varvarasd commented on #45
Hi,

This has already been reported on [#36](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/36)
I am closing this as a duplicate.
Thank you

[2022-10-04 08:50] #45 closed, assigned to varvarasd

[2022-10-04 09:01] varvarasd commented on #40
I am closing this as not a bug as we're unable to reproduce it.
Thank you

[2022-10-04 09:01] #40 closed, assigned to varvarasd

[2022-10-04 09:31] varvarasd commented on #15
Hi,
This is a limitation of MetaMask which doesn't allow us to check if the token's already added. This feature is available only in test net as it's not meant to be in production.
I am closing this as not a bug.
Thank you

[2022-10-04 09:31] #15 closed, assigned to varvarasd

[2022-10-04 09:37] varvarasd commented on #9
Hi,
Please can we have a step-by-step video to clearly see what you are doing as we are not able to reproduce this?

Thanks

[2022-10-04 09:37] varvarasd commented on #7
Hi,
Please can we have a step-by-step video to clearly see what you are doing as we are not able to reproduce this?

Thanks

[2022-10-04 09:52] varvarasd commented on #37
I will add this to our backlog.
Please send us your email address.
Thank you

[2022-10-04 09:57] varvarasd commented on #19
Hi,
In the future please report only in English, including the text in the recording to be able to investigate and address properly the issue.
This is a limitation of MetaMask. It appears you need to go back to metamask, after confirming the network change, to confirm the tETNY token addition. This feature is available only in testing as it will not be part of the production.
I will close this as

[2022-10-04 09:57] #19 closed, assigned to varvarasd

[2022-10-04 10:49] MSorin5 opened #46 "PROPOSAL"
It would be useful to simulate a shorter staking period (e.g. 1 day) during this test period in order to be able to see in the next steps after this staking period, if there are any problems and what are the next steps. What we are testing now is a large part of the operations but not all. What happens after the end of the staking period, i mean restake, unstake, what next steps...
ETNY tokens are

[2022-10-04 11:33] rockydawe opened #47 "Scroll/Hidden text BUG"
**Hidden text **
After scrolling down the Page, remains a half hidden text.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in with metamask wallet
2. STAKING OVERVIEW -> Click on 'Approved'
3. Click on either one of the Staking Offers showed , on ''Details''
4. Either clicking on ''Peneding'' or ''Terminated'' after scrolling down to the bottom of the page, it remains half text hidden.

[2022-10-04 11:45] varvarasd commented on #46
Hi,
We are not taking any feature suggestions at this time as it's not a priority, however, thank you.
If you have any questions please join us on our [telegram](https://t.me/ethernitycloud) or [discord](https://discord.gg/W74JcFPGcb) channels as well as consult further the available documentation [here](https://docs.ethernity.cloud/staking-dapp/intro).

I am closing this as not a bug.
Thank you

[2022-10-04 11:45] #46 closed, assigned to varvarasd

[2022-10-04 11:51] varvarasd commented on #47
Hi,
The bottom banner exists only in testing and it's not included in the production build therefore this is not a bug.
I am closing this as not a bug.
Thank you

[2022-10-04 11:51] #47 closed, assigned to varvarasd

[2022-10-04 12:02] rockydawe commented on #47
I read that we should find bugs in the testnet, things that are not working/showing as expected. That's what I did. If you think that is ok and well done, what should I say, you're the expert.

[2022-10-04 12:22] Cristicyb opened #48 "BUG"
**Describe the bug**
TOTAL STAKED amount of tokes DOES NOT MATCH Approved staking pots values

**To Reproduce**
Steps to reproduce the behavior:
Do multiple staking actions followed by Cancelling a part of the Staking pots

**Expected behavior**
TOTAL STAKED amount of tokes MATCHES Approved staking pots values

**Screenshots**
![staking_ethernity_cloud_1](https://user-images.githubusercontent.com/

[2022-10-04 13:15] varvarasd commented on #48
Hi,
There is a warning message when canceling a pot with approved and signed contracts, that says that the cancelation of said contracts is due at the end of the staking contract maturity. If you take that into account the amounts should be correct.
I am closing this as not a bug.
Thank you

[2022-10-04 13:15] #48 closed, assigned to varvarasd

[2022-10-04 13:28] varvarasd commented on #7
Ok we were able to reproduce this and it's been added to the backlog.
Thank you

[2022-10-04 19:27] motikolorado opened #49 "How to use this for a polygon token"
Is it possible to change some things in the files so as to use this dapp for staking polygon token? If so please what should be changed. And how do i deploy the contract?

[2022-10-05 06:35] varvarasd commented on #49
Hi,
The Ethernity Cloud Staking dApp is only for ETNY staking. There are no plans at this time to stake other tokens than ETNY.
Please note this is a place for BUG REPORTING. If you have any questions please use our [telegram](https://t.me/ethernitycloud) or [discord](https://discord.gg/W74JcFPGcb) channels.
I am closing this as not a bug.
Thank you

[2022-10-05 06:35] #49 closed, assigned to nobody

[2022-10-05 06:35] varvarasd commented on #43
Hi,
I am adding this to our backlog.
Thank you

[2022-10-05 13:09] RaduGuce opened #50 "BUG"
Hello,

I'm a node operator and after i apply for 6000 of etny in the marketplace, the amount of etny in " total staked on node" is not correlated with the amount of etny in " approved"  tab.

Aso in "pending" it show 10000 etny instead of 6000 etny.

Thank you!
![IMG_20221005_154945](https://user-images.githubusercontent.com/115086273/194068047-88506b09-a89d-4b36-98a8-d8d3f4a72a0a.jpg)
![IMG_2022

[2022-10-05 13:53] pupisor commented on #42
the problem isthat a node operator cannot apply for an amount lower then 3024 !

[2022-10-05 13:54] pupisor commented on #37
sure .. mediesanu@gmail.com

[2022-10-05 13:55] pupisor commented on #30
mediesanu@gmail.com

[2022-10-05 14:00] pupisor opened #51 "BUG"
**Describe the bug**
As node operator i cannot apply for less than 3024 etny from marketplace

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Marketplace
2. Try to apply for less then 3024 etny
43 See error

**Expected behavior**
If in marketplace are offers with less then 3024 etny nowone can apply, so are locked

[2022-10-05 14:04] pupisor opened #52 "Missing tokens"
**Describe the bug**
Tokens are not comming back to Availlable tokens after i cancel an offer from marketplace as staker!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Marketplace
2. Cancel your offer
3. Tokens are gone!

**Expected behavior**
As staker, after cancel an offer from marketplace tokens must can see in Available tokens

[2022-10-05 17:27] dimanyo opened #53 "BUG"
**Describe the bug**
In the new bet, I indicate that no approval is required, but the bet is still placed with approval

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'NEW STAKE'
2. Click on 'Is staking pot pre-approved? NO'
4. APPROVAL NEEDED YES on the marketplace

Watch the video, you'll understand what I'm talking about

**Desktop (please complete the following information):**
 -

[2022-10-06 02:46] ivanbrij opened #54 "BUG"
**Describe the bug**
In the approved staking view, there are two buttons for "Details" information

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'approved staking'
4. See the bug

**Expected behavior**
It must show only 1 button

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Browser Brave

**A

[2022-10-06 06:14] varvarasd commented on #50
Hi,
In the future, for your bug report to be addressed please make sure you use the default bug reporting format and fill it in accordingly.
Please check the Closed tab as well. That's where you'll see any closed (closed auto-renewal) pots. These pots are also taken into account as they are staked on the node until the contract matures and adds to the total.

[2022-10-06 06:19] varvarasd commented on #51
Hi,
This is the expected behavior. The minimum extended staking amount is 3024 ETNY. Please find all these details in the documentation [here](https://docs.ethernity.cloud/staking-dapp/intro).
I am closing this as not a bug.
Thank you

[2022-10-06 06:19] #51 closed, assigned to varvarasd

[2022-10-06 06:22] varvarasd commented on #52
Hi,
You have reported this bug again on [#30](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/30).
I am closing this as duplicate.
Thank you

[2022-10-06 06:22] #52 closed, assigned to varvarasd

[2022-10-06 06:23] RaduGuce commented on #50
The Closed tab is empty.

[2022-10-06 06:27] varvarasd commented on #54
Hi,
This bug has already been reported on [#14](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/14).
I am closing this as a duplicate.
Thank you

[2022-10-06 06:27] #54 closed, assigned to varvarasd

[2022-10-06 06:32] RaduGuce commented on #50
In " Pending " i have 10000 etny , after i go to details i see approved 4000 and pending 6000.
That means that my " total staked on node" should be 14000 not 16000.

[2022-10-06 06:33] pupisor commented on #51
ok....but if someone have less then 3024 etny he can't stake it right?

[2022-10-06 06:55] varvarasd commented on #50
I am unable to reproduce this and we need to see exactly the circumstance and steps to reproduce. We need to look at this more closely. Please send me your email address so I can get in touch and arrange a meeting with share screen and investigate this more closely if that's alright with you.

[2022-10-06 07:01] varvarasd commented on #42
Hi,
This is the expected behavior. The minimum extended staking amount is 3024 ETNY. Please find all these details in the documentation [here](https://docs.ethernity.cloud/staking-dapp/intro).
I am closing this as not a bug.
Thank you

[2022-10-06 07:03] varvarasd commented on #42
Hi,
Sorry, I mixed up the window messaging earlier.
I have added this to our backlog.
Thank you

[2022-10-06 07:04] varvarasd commented on #42
Hi,
Sorry I've mixed the window with previous message.
I have added this to our backlog.
Thank you

[2022-10-06 07:07] varvarasd commented on #42
These will still appear as Pending but those who cannot apply will have the Apply button disabled

[2022-10-06 07:09] RaduGuce commented on #50
This is my pending tab and closed tab is empty
![image](https://user-images.githubusercontent.com/115086273/194236915-d6849b41-49c2-4721-ada3-21c8ff4cde29.jpeg)
![image](https://user-images.githubusercontent.com/115086273/194236995-7a4aa149-eba2-497c-afe6-9f588a1a428e.jpeg)
![image](https://user-images.githubusercontent.com/115086273/194237419-ad1c050a-cac3-43e0-b1c4-aac4daee5c7d.jpeg)

[2022-10-06 07:33] varvarasd commented on #51
The minimum extended staking amount is 3024 ETNY. You cannot create or apply to an extended stake less than 3024 ETNY.

[2022-10-06 08:11] varvarasd commented on #50
Please provide the email address to schedule a video call to investigate. I cannot tell from the images if you're a staker or a node op in any of them.

[2022-10-06 08:31] varvarasd commented on #53
Hi, this is the expected behavior. The pot is not pre-approved as you indicated 'NO' on the toggle instead of 'YES' therefore it requires approval.
I am closing this as not a bug.
Thank you

[2022-10-06 08:31] #53 closed, assigned to varvarasd

[2022-10-06 10:13] RaduGuce commented on #50
Yes , i'm a node operator .

After i analyzed more ,it looks like the amount from pending contract goes to "total staked on node".

![image](https://user-images.githubusercontent.com/115086273/194287472-f7e6d71c-6475-4cfa-84b8-42ae1d8c6968.jpeg)

[2022-10-06 11:41] varvarasd commented on #50
Ok. Is the mystery solved then?

[2022-10-06 11:43] RaduGuce commented on #50
If this is the way that dapp is working , yes mistery solved.

[2022-10-06 11:49] varvarasd commented on #50
Yes. I am closing this as not a bug.
Thank you

[2022-10-06 11:49] #50 closed, assigned to varvarasd

[2022-10-09 11:18] pupisor opened #55 "BUG"
Total staked on node 10.000 etny but in Approved i have 31976, in pending are 10.000 and Closed 0 ETNY

![Screenshot from 2022-10-09 13-14-53](https://user-images.githubusercontent.com/25704511/194753894-ab9c734e-7a51-4e0d-a360-3e300a096848.png)
![Screenshot from 2022-10-09 13-14-58](https://user-images.githubusercontent.com/25704511/194753895-03525ddd-eec9-4876-aa6b-414b879e3537.png)
![Screenshot

[2022-10-10 06:35] varvarasd commented on #55
Hi,
I kept mentioning that you need to fill in the default info when creating an issue so we can properly reproduce and reduce the number of questions back and forth and be more efficient.
Please fill in the default format so we can address this. I'm leaving the format below

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[2022-10-10 07:06] varvarasd commented on #55
In approved, on the staking pot that has 30k you need to click on the Details button which doesn't seem to be included in the photo. You should then see there what part of that pot you have applied for, whether is all 30k or a part of it.

[2022-10-12 22:55] bob1755 opened #56 "BUG-No text on dark mode."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-12 23:07] bob1755 commented on #56
Hi there,
i am not sure if this is a bug ,but i will try to explain.
when you are on the main dApp page and apply for dark mode and receive a notification from the site on the right down corner, there is no x (close)  it is there but you cannot see it . i cannot close the little notification tab.hope i was clear. Best wishes.
![photo_2022-10-13_01-04-17](https://user-images.githubusercontent.com/1

[2022-10-13 06:18] varvarasd commented on #56
Hi,
I've added this to our backlog.
Thank you

[2022-10-13 06:19] varvarasd commented on #56
Please leave us your email address if you'd like to participate in the bug-bounty

[2022-10-13 08:17] bob1755 commented on #56
Hi,
I am happy that I helped. Here is my email-     enacheieronim@gmail.com

[2022-10-13 08:25] varvarasd commented on #56
Your email address is not visible. Please try replying from GitHub

[2022-10-13 09:09] bob1755 commented on #56
enacheieronim@gmail.com
i hope is workin now. Thanks.

[2022-10-14 10:13] shikter opened #57 "BUG / not refinement."
**Describe the bug**

Some issues:
1. For several days, the process of stacking progress is not visible. How much and where you can see the number of stacking progress; Or predictable. (In the number of coins or in % ratio of the amount that was/will stacked.)

2. I have had 2 test accounts as Client stackers and 1 test account as Node.
In one of three cases, I could withdraw rewards to the Node w

[2022-10-14 11:48] varvarasd commented on #57
Hi,

It is very hard to understand what is going on. To be able to address this, please split it into each individual bugs and fill out the default bug reporting form accordingly so we can reproduce. I will leave the default reporting form below for your consideration.

Please note that this will not be taken into account and it will be closed as unable to reproduce.

Thank you

**Describe the bug

[2022-10-15 09:58] Vitaliy1808 opened #58 "The balance in the "AVAILABLE TOKENS" section does not change"
Good afternoon! When canceling a bet, the balance in the "AVAILABLE TOKENS" section does not change on the staker's wallet!

[2022-10-15 10:02] Vitaliy1808 opened #59 "Wish"
I would also add a visual notification for a new application "Pending"
![Screenshot_3](https://user-images.githubusercontent.com/115872201/195980505-f5099fe9-8106-434b-9aa4-8f681322e6dc.png)

[2022-10-15 15:01] val-tiger opened #60 "Lack of notification of the operator about the prohibition of separation"
Description of the situation:
1. Created extended staking with no splitting and with pre-approve as a staker - 10,000 tokens.
Sent to Marketplace.
2. I went to the Marketplace as an operator. I saw this offer. I took it, indicating the number of tokens - 5000.
The offer was staked - the whole 10,000 - without notifying the operator that the split was prohibited.

[2022-10-15 19:24] val-tiger opened #61 "BUG"
**Describe the bug**
Loss (possibly getting into staking) when returning the remaining tokens by the staker

**To Reproduce**
1. We enter as a staker.
2. Create an extended staking offer (splitting allowed, pre-approved) - 15,000 tokens.
3. We go by the operator.
4. Take 5000 tokens out of 15000 pot. 10,000 remains in the pot.
5. Enter as the staker.
6. Return the remaining 10,000 tokens from the

[2022-10-17 07:22] #57 closed, assigned to varvarasd

[2022-10-17 07:27] varvarasd commented on #58
Hi,
For future reports please fill out the default bug reporting format for your report to be addressed.
This bug has already been reported on [#30](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/30)
I am closing this as duplicate.
Thank you

[2022-10-17 07:27] #58 closed, assigned to varvarasd

[2022-10-17 07:45] varvarasd commented on #59
Hi,
I am closing this as not a bug.
We are not taking any feature suggestions at this time as our current focus is on the first release and bug fixing.
Thank you

[2022-10-17 07:45] #59 closed, assigned to varvarasd

[2022-10-17 08:29] varvarasd commented on #60
Hi,
In the future please use the default bug reporting format and fill it out accordingly.
I was able to reproduce this and I've added this to our backlog.
Please leave us your email address if you'd like to be included in our bug-bounty.
Thank you

[2022-10-17 09:37] varvarasd commented on #61
Hi,
Up till step 7, this bug has already been reported on [#30](https://github.com/ethernity-cloud/ethernity-staking-dapp/issues/30).
I was not able to reproduce step 8. The total stake on the node is updated according to the portion applied.
Is there anything else you can add to help us reproduce?
Can you record a video with all steps?

[2022-10-17 17:49] rockydawe opened #62 "Staking Confirmation BUG"
**Staking Confirmation BUG**

After base stake of 1976 Etny confirmed on node, I tried to make an extended staking of 50655 on the same node.
After logging in with the node adress on metamask, I tried to approve the extended staking offer, and then I got the Confirmation message that didn't have anything to do with the whole process. (See Screenshot 1)

**To Reproduce**
Steps to reproduce the beha

[2022-10-18 07:07] varvarasd commented on #62
Hi,
I have added this to our backlog.
Thank you